<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="chipping">
  <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">SB Admin</a>
          </div>
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
          </ul>
          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
                  <li class="active">
                      <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

          <div class="container-fluid">

              <!-- Page Heading -->
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">
                          Max IQ calculation
                      </h1>
                      <ol class="breadcrumb">
                          <li>
                              <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                          </li>
                          <li class="active">
                              <i class="fa fa-edit"></i> IQ Calculation
                          </li>
                      </ol>
                  </div>
              </div>
              <!-- /.row -->

              <div class="row" ng-controller="calculationsController" >
                <div class="col-lg-4">
                  <form ng-submit="calculate()">
                    <div class="form-group">
                        <label>Max Pretended Boost (mbar)</label>
                        <input class="form-control" ng-model="boost">
                        <p class="help-block">The boost that you want</p>
                    </div>

                    <div class="form-group">
                        <label>Real engine size</label>
                        <input class="form-control" ng-model="cc">
                        <p class="help-block">1900 not allowed, 1898 yes</p>
                    </div>

                    <div class="form-group">
                        <label>Number of cylinders</label>
                        <input class="form-control" ng-model="cylinders">
                        <p class="help-block">Obvious...</p>
                    </div>

                    <div class="form-group">
                        <label>Pretended AFR</label>
                        <input class="form-control" ng-model="afr">
                        <p class="help-block">18:1 sweet spot on diesel</p>
                    </div>
                    <div class="form-group">
                        <label>Injector Volume</label>
                        <input class="form-control" ng-model="injectorVolume">
                    </div>

                    <!-- submit button -->
                    <button class="btn btn-default" type="submit">Calculate</button>
                </form>

                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                      <label>Max mg/str to that AFR</label>
                      <input class="form-control" disabled ng-model="maxIQValue">
                      <p class="help-block">max injector capacity</p>
                  </div>
                  <div class="form-group">
                      <label>Max Torque</label>
                      <input class="form-control" disabled ng-model="maxTorque">
                      <p class="help-block">max torque</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                      <label>Safe mg/str to that AFR</label>
                      <input class="form-control" disabled ng-model="safeIQValue">
                      <p class="help-block">less 20% max injector capacity</p>
                  </div>
                  <div class="form-group">
                      <label>Safe Torque</label>
                      <input class="form-control" disabled ng-model="safeTorque">
                      <p class="help-block">safe torque</p>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                      <label>Expected power</label>
                      <input class="form-control" disabled ng-model="estimatedPower">
                  </div>
                  <div class="form-group">
                      <label>Injetor limit</label>
                      <input class="form-control" disabled ng-model="injectorLimit">
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
